<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registrytolessons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.AdminUserCourseRegistration"></activity>
        <activity android:name=".View.AdminPanel" />
        <activity android:name=".View.AdminUserRegistration" />
        <activity android:name=".View.TeacherLessonOpenOperation" />
        <activity android:name=".View.TeacherPanel" />
        <activity android:name=".View.StudentCourseRegistration" />
        <activity android:name=".View.StudentPanel" />
        <activity android:name=".View.UserEntrance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>